USE [master]
GO
/****** Object:  Database [CartsysCRUD]    Script Date: 06/01/2023 14:40:13 ******/
CREATE DATABASE [CartsysCRUD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CartsysCRUD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CartsysCRUD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CartsysCRUD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CartsysCRUD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CartsysCRUD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CartsysCRUD]
GO
/****** Object:  Table [dbo].[Pessoas]    Script Date: 06/01/2023 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[Nome] [varchar](80) NOT NULL,
	[Cpf] [varchar](80) NOT NULL,
	[Rua] [varchar](100) NOT NULL,
	[Bairro] [varchar](100) NOT NULL,
	[Numero] [int] NOT NULL,
	[Cidade] [varchar](100) NOT NULL,
	[Telefone] [varchar](100) NOT NULL,
	[Idade] [int] NULL,
	[Sexo] [char](1) NULL,
 CONSTRAINT [Pk_Pessoas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 06/01/2023 14:40:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](256) NOT NULL,
	[DataCriacao] [datetime] NOT NULL,
	[Senha] [varchar](128) NULL,
 CONSTRAINT [Pk_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pessoas] ON 

INSERT [dbo].[Pessoas] ([Id], [Email], [Nome], [Cpf], [Rua], [Bairro], [Numero], [Cidade], [Telefone], [Idade], [Sexo]) VALUES (7, N'rafa.rsouz@gmail.com', N'Rafael Rodrigues de Souza', N'12606645626', N'Rua Antônio da Costa Rangel', N'Esplanada', 310, N'Divinópolis', N'37999584571', 19, N'M')
INSERT [dbo].[Pessoas] ([Id], [Email], [Nome], [Cpf], [Rua], [Bairro], [Numero], [Cidade], [Telefone], [Idade], [Sexo]) VALUES (8, N'joao@gmail.com', N'João da Silva', N'44155353059', N'Rua Exemplo', N'Bairro Teste', 234, N'Divinópolis', N'32148664', 27, N'M')
SET IDENTITY_INSERT [dbo].[Pessoas] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Email], [DataCriacao], [Senha]) VALUES (1, N'aa', CAST(N'2023-03-01T15:58:26.507' AS DateTime), N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2')
INSERT [dbo].[Usuarios] ([Id], [Email], [DataCriacao], [Senha]) VALUES (2, N'bb', CAST(N'2023-03-01T16:08:34.960' AS DateTime), N'1B86355F13A7F0B90C8B6053C0254399994DFBB3843E08D603E292CA13B8F672ED5E58791C10F3E36DAEC9699CC2FBDC88B4FE116EFA7FCE016938B787043818')
INSERT [dbo].[Usuarios] ([Id], [Email], [DataCriacao], [Senha]) VALUES (3, N'ccc', CAST(N'2023-03-01T16:48:28.680' AS DateTime), N'3C9909AFEC25354D551DAE21590BB26E38D53F2173B8D3DC3EEE4C047E7AB1C1EB8B85103E3BE7BA613B31BB5C9C36214DC9F14A42FD7A2FDB84856BCA5C44C2')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
